# Configuração de Banco de Dados (PostgreSQL é OBRIGATÓRIO)
# Exemplo para banco local ou remoto:
# WACALLS_PG_URL=postgres://usuario:senha@localhost:5432/nome_do_banco?sslmode=disable
WACALLS_PG_URL=postgres://postgres:postgres@localhost:5432/postgres?sslmode=disable
WACALLS_PG_NAMESPACE=wacalls

# Limites e Autenticação
WACALLS_MAX_CALLS=8
# WACALLS_API_KEY=sua_chave_secreta_aqui (Deixe desabilitado para desenvolvimento local sem autenticação)

# Configurações de Mídia VoIP (WebRTC)
# WACALLS_PUBLIC_IP=auto
# WACALLS_UDP_PORT=50000
